<ion-view view-title="Dados do Cliente">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button></ion-nav-back-button>
        <ion-nav-buttons side="right">
            <a class="button button-icon ion-android-done" href="#/app/clientes/formularioCadastro/1"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <h1>Formulario de Cadastro</h1>
        <form ng-submit="salvarDados()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nome/Razão Social</span>
                    <input type="text" ng-model="data.nome">
                </label>
                <label class="item item-input">
                    <span class="input-label">CNPJ/CPF</span>
                    <input type="text" ng-model="data.documento">
                </label>
                <label class="item item-input">
                    <span class="input-label">Telefone</span>
                    <input type="text" ng-model="data.telefone">
                </label>
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input type="text" ng-model="data.email">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit">Concluir</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-view>
